body {
    background-color: #cfafaf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .toggle-switch {
    position: relative;
    width: 200px;
  }
  
  label.toggle {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--primary);
    border-radius: 50px;
    cursor: pointer;
  }
  
  input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  input.dark-toggle:checked ~ .slider {
    background-color: var(--background);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 16px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--background);
    background-color: var(--primary);
    transition: 0.3s;
  }
  
  input.dark-toggle:checked ~ .slider::before {
    transform: translateX(95px);
    background-color: var(--primary);
    box-shadow: none;
  }